<div id="gameForm">
<script src="index.js" style="text/javascript"></script>
<form action='/new_game' method='post'>
  <input type="text" name="pack_name" placeholder="Pack Name">
  <input type="text" name="name" placeholder="Wolf Name">
  <input type="gender" name="gender" placeholder="Wolf Gender">
  <p><input id="newGameForm" type="submit" value="New Game"></p>
</form>
</div>
<script>document.onreadystatechange = function () {bindListeners()}</script>
