<!doctype html>
<head>
  <title>Wolf Sim</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1 id="title">Wolf Sim </h1>
  </header>
<div id="main">
  <%= yield %>
</div>

<footer>
  <p>A WEF6 Production</p>
</footer>
</body>
</html>