<!doctype html>
<head>
  <title>Wolf Sim</title>
  <link href="../css/index.css" rel="stylesheet">
</head>
<body>
  <header>
    <div id="title"></div>
  </header>
<div id="main">
  <%= yield %>
</div>

  <p id="footer">A WEF6 Production</p>
</body>
</html>